/* Global settings */
* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-size: 1080px 600px;
    background: url('/public/Images/background2.jpg');
    /* Image by <a href="https://www.freepik.com/free-vector/hand-drawn-bakery-pattern-background_72099398.htm#query=bakery%20wallpaper&position=12&from_view=keyword&track=ais&uuid=ad1a4c6f-66e1-4569-b754-e9642e21b2c8">Freepik</a> */
}

/* Text styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    text-align: center;
    font-weight: bold;
}

/* Universal button styles */
.button,
.homeButton a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    margin: 8px 0;
}

.button:hover,
.homeButton a:hover,
.homeButton a:focus {
    background-color: #493c36;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    outline: none;
}

/* Icons and Social Icons */
.social-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

/* Map and Overlay Styling */
.map-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px; /* Adjust height as needed */
    z-index: 10; /* Ensure it's above other content but adjust based on your z-index usage */
}

/* Hide the map on screens smaller than 768px */
@media (max-width: 900px) {
    .map-container {
        display: none; /* This will hide the map on small devices */
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

/* Hours Box */
.hours-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Close Button */
.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    cursor: pointer;
    padding: 0;
}

.close-icon {
    width: 20px;
    height: 20px;
}

.close-button:hover {
    opacity: 0.8;
}