.page-css {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;  /* Takes up all available space pushing the footer down */
    color: white;
}

.home-button {
    text-align: left;  /* Centers the link */
    padding: 20px 0; /* Padding for the footer */
    background-color: #f0f0f0;  /* Optional background color */ 
}

/* Mobile friendly */ 

.home-button a {
    display: inline-block;
    padding: 10px 20px; /* Makes the link easier to tap on mobile */
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

@media (max-width: 600px) {
    .footer-link a {
        padding: 15px 30px; /* larger tap area on smaller screens */
    }    
}

/* Card Type Menu CSS */
.menu-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.menu-item {
    width: 300px; /* Fixed width or percentage */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.menu-image {
    width: 100%;
    height: 200px; /* Adjust based on your design */
    object-fit: cover; /* Ensures the image covers the area without stretching */
}

.item-details {
    padding: 15px;
    text-align: center;
}

.item-name {
    font-size: 20px;
    margin-top: 0;
}

.item-description {
    font-size: 16px;
    color: #666;
}

.item-price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
